.stat-with-des {
  text-align: center;
  border-top: 1px solid #60d0b3;
  border-bottom: 1px solid #60d0b3;
  padding: 20px 40px !important;
  align-self: stretch;
  flex: 1;
}
.stat-with-des .stat {
  font-size: 84px;
  line-height: 84px;
  padding: 0px;
  margin: 0px;
  color: #60d0b3;
}

.stat-with-des .stat-category {
  font-size: 28px;
  line-height: 28px;
  padding: 0px;
  margin: 12px 0px;
}

.stat-with-des .stat-description {
  padding: 0px;
  margin: 0px;
  color: #707070;
  font-size: 18px;
  /* line-height: 18px; */
}
.landing-section {
  padding-top: 112px;
  text-align: center;
}
.landing-section .MuiTypography-h1 {
  font-size: 48px;
  line-height: 60px;
  font-family: Helvetica;
  font-weight: 400;
  padding: 50px;
  text-transform: unset;
}
.landing-section .MuiTypography-caption {
  padding: 50px 0px;
  font-weight: 400;
  font-family: 'noto serif';
  font-size: 20px;
  line-height: 20px;
  color: #707070;
}
.stat-section {
  padding: 50px 0px;
}
.about-diegesis-section {
  padding: 50px 0px;
  padding-bottom: 112px;
}
.about-diegesis-section .content-box {
  display: block;
  position: relative;
  height: 498px;
  margin: 20px 40px;
}
.about-diegesis-section .cover-img-container {
  /* width: 714px; */
  height: 498px;
  width: 65%;
  background-color: #a8a8a8;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.about-diegesis-section .about-diegesis-box {
  padding: 50px;
  margin: 50px 0px;
  background: #f0f0e7;
  z-index: 1;
  display: inline-block;
  height: 80%;
  width: 50%;
  position: absolute;
}
.about-diegesis-box .MuiTypography-h2 {
  font-family: Helvetica;
  font-size: 30px;
  line-height: 34px;
  font-weight: normal;
  color: #31373a;
}
.about-diegesis-box .about-diegesis-btn {
  border-bottom: 1px solid #79c7b2;
  font-size: 20px;
  line-height: 20px;
  text-transform: none;
}

@media screen and (max-width: 414px) {
  .landing-section {
    padding-top: 30px;
  }
  .landing-section .MuiTypography-h1 {
    font-size: 30px;
    line-height: 34px;
    padding: 30px 5px;
  }
  .landing-section .MuiTypography-caption {
    padding: 30px 5px;
    font-size: 16px;
    line-height: 22px;
  }
  .landing-section button {
    /* margin: 10px; */
    min-width: 275px;
    min-height: 68px;
  }
  .stat-section {
    padding: 30px 0px;
  }
  .stat-section .MuiStack-root {
    flex-direction: column;
    gap: 0;
  }
  .stat-section .stat-with-des:nth-of-type(2),
  .stat-section .stat-with-des:nth-of-type(3) {
    border-top: 0px;
  }
  .stat-with-des {
    padding: 15px 25px !important;
    align-self: stretch;
    flex: 1;
  }
  .stat-with-des .stat {
    font-size: 64px;
    line-height: 64px;
  }

  .stat-with-des .stat-category {
    font-size: 22px;
    line-height: 36px;
  }

  .stat-with-des .stat-description {
    font-size: 16px;
    line-height: 18px;
  }

  .about-diegesis-section {
    padding: 30px 0px;
    padding-bottom: 30px;
  }
  .about-diegesis-section .content-box {
    display: block;
    position: relative;
    height: 498px;
    margin: 20px 10px;
  }
  .content-box .about-diegesis-box {
    margin: 0px;
  }
  .about-diegesis-section .about-diegesis-box {
    padding: 20px;
    padding-bottom: 30%;
    z-index: 1;
    display: inline-block;
    height: 60%;
    width: 100%;
    position: absolute;
  }
  .about-diegesis-box .MuiTypography-h2 {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 25px;
  }
  .about-diegesis-section .cover-img-container {
    height: 176px;
    width: 80%;
    margin: 0px auto;
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    top: 52%;
    z-index: 2;
  }
  .about-diegesis-box .about-diegesis-btn {
    font-size: 18px;
    line-height: 20px;
  }
}

