.stat-with-des {
  text-align: center;
  border-top: 1px solid #60d0b3;
  border-bottom: 1px solid #60d0b3;
  padding: 20px 10px !important;
}
.stat-with-des .stat {
  font-size: 84px;
  line-height: 84px;
  padding: 0px;
  margin: 0px;
  color: #60d0b3;
}

.stat-with-des .stat-category {
  font-size: 28px;
  line-height: 28px;
  padding: 0px;
  margin: 12px 0px;
}

.stat-with-des .stat-description {
  padding: 0px;
  margin: 0px;
  color: #707070;
  font-size: 18px;
  /* line-height: 18px; */
}
.landing-section {
  padding-top: 112px;
  text-align: center;
}
.landing-section .MuiTypography-h1 {
  font-size: 48px;
  line-height: 60px;
  font-family: Helvetica;
  font-weight: 400;
  padding: 50px 0px;
}
.landing-section .MuiTypography-caption {
  padding: 50px 0px;
  font-weight: 400;
  font-family: "noto serif";
  font-size: 20px;
  line-height: 20px;
  color: #707070;
}
.stat-section {
  padding: 50px 0px;
}
