.header-section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.MuiTypography-h2.page-title-sub {
    margin-top: 10px;
    font-size: 34px;
    line-height: 40px;
    font-weight: 300;
}
.inner-content {
    margin-left: 13% !important;
}
.about-content-section {
    color: #31373A;
}
.about-content-section .MuiTypography-h2 {
    line-height: 30px;
    font-weight: 700;
    font-family: "noto serif";
}
.about-content-section .MuiTypography-body1 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
}
.about-content-section .MuiList-root {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
}
.about-content-section .MuiList-root .MuiListItemIcon-root {
    min-width: auto;
}
.about-content-section .MuiList-root .MuiTypography-body1 {
    margin-top: 0px;
}
.about-content-section .MuiList-root .MuiListItem-root {
    border-top: 1px solid #E3E3D9;
}
.diegesis-quote {
    padding: 50px 0px;
    font-size: 30px;
    font-weight: 400;
    font-family: "noto serif";
}
.about-picture-section {
    margin-top: 60px;
    margin-bottom: 120px;
}
.about-picture-section .inner-container {
    background: #F0F0E7;
    height: 409px;
    width: 788px;
    position: relative;
    /* width: 80%; */
    margin: auto;
    padding: 25px;
}
.inner-container .img-box {
    height: 409px;
    width: 586px;
    background: #31373A;
    /* margin: 0px 7%; */
    margin: auto;
    margin-top: 5%;
}