.full-width {
  width: 100% !important;
}
.mt-2 {
  margin-top: 20px;
}
.mr-1 {
  margin-right: 10px;
}
.app-logo {
  margin-top: 5px;
}
.MuiDivider-root {
  border-color: #31373a !important;
}
.MuiTypography-body1.header-title {
    font-family: 'noto serif display';
    font-size: 24px;
    line-height: 24px;
    font-style: italic;
    color: #31373a;
    font-weight: normal;
    margin-left: 10px;
}
.page-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-footer {
  background: #31373a;
  padding: 50px 0px;
  height: 273px;
}
.page-footer .MuiTypography-body1 {
  color: #FFFFFF;
  font-family: 'noto sans myanmar';
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}
.side-nav-container {
  width: 536px;
  background: #e3e3d9;
  height: 100%;
  position: absolute;
  padding: 50px;
  padding-right: 25px;
}
.side-nav-container .close-btn .MuiTypography-caption {
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
  color: #31373A;
}
.side-nav-container .nav-items-container {
  margin-top: 50px;
  overflow-y: auto;
  height: 100%;
}
.nav-items-container .big-nav-item {
  text-transform: none;
  font-size: 48px;
  line-height: 70px;
  font-weight: 400;
  font-family: helvetica;
  padding: 0px;
  width: 100%;
  display: block;
}
.nav-items-container .md-nav-item {
  text-transform: none;
  font-weight: 400;
  font-family: helvetica;
  padding: 20px 0px;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  display: block;
}