.full-width {
  width: 100% !important;
}
.mt-2 {
  margin-top: 20px;
}
.app-logo {
  margin-top: 5px;
}
.MuiTypography-body1.header-title {
    font-family: 'noto serif display';
    font-size: 24px;
    line-height: 24px;
    font-style: italic;
    color: #31373a;
    font-weight: normal;
    margin-left: 10px;
}
.page-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-footer {
  background: #31373a;
  padding: 50px 0px;
  height: 273px;
}
.page-footer .MuiTypography-body1 {
  color: #FFFFFF;
  font-family: 'noto sans myanmar';
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}