.details-section
  .MuiTableBody-root
  .MuiTableRow-root:first-child
  > .MuiTableCell-root {
  padding: 16px;
  padding-left: 0px;
  color: #31373a;
  font-weight: 700 !important;
  font-family: Helvetica;
  font-size: 1.1rem;
}

.details-section .MuiTablePagination-root {
  display: none;
}

.book-resource-box {
  background-color: #f0f0e7;
  padding: 20px;
  padding-top: 25px;
}

.book-resource-box .MuiTypography-h3 {
  font-weight: 700;
  font-family: Helvetica;
  margin-bottom: 5px;
}

.book-resource-box .MuiOutlinedInput-root {
  min-width: 272px;
}

.book-resource-box .MuiOutlinedInput-root .MuiSelect-outlined {
  padding-top: 10px;
  padding-bottom: 10px;
}

.divider {
  height: 3px;
  background-color: #60d0b2;
}

.bottom-action-btn-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.no-padding {
  padding: 0px;
}

#entry-detail-page .MuiTableHead-root {
  display: none;
}

@media screen and (max-width: 414px) {
  .top-controls-section > div {
    flex-direction: column;
    align-items: flex-start;
  }
  .top-controls-section .page-title {
    text-align: left;
    margin-top: 20px;
  }
  #entry-detail-page .MuiButton-containedGreen {
    font-size: 1rem;
    min-width: 47%;
  }
  #entry-detail-page .action-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .controls-section {
    padding-bottom: 0px;
  }
  #entry-detail-page
    .diegesis-tbl-container
    .MuiTableBody-root
    .MuiTableRow-root
    .MuiTableCell-root {
    border-bottom: 1px solid #f0f0e7;
  }
  #entry-detail-page .bottom-action-btn-container {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  #entry-detail-page .MuiTableContainer-root .MuiTable-root {
    min-width: 100%;
  }

  #entry-detail-page .book-resource-box .MuiOutlinedInput-root {
    min-width: 100%
  }
}
