.diegesis-tbl-container {

}
.diegesis-tbl-container .MuiTableRow-head {
    border-bottom: 3px solid #4ABE95;
}
.diegesis-tbl-container .MuiTableSortLabel-root, .diegesis-tbl-container .MuiTableSortLabel-root.Mui-active {
    font-size: 0.9rem;
    color: #cccdce;
    font-weight: 400;
    line-height: 0.9rem;
    font-family: 'helvetica';
}
.diegesis-tbl-container .MuiTableRow-head .MuiTableSortLabel-icon {
    color: #4ABE95 !important;
}
.diegesis-tbl-container .MuiTablePagination-actions .MuiSvgIcon-root {
    height: 35px;
    width: 35px;
}
