.items {
  font-size: 12px;
}
.item {
  position: relative;
  border: 2px solid #f5f6f9;
  padding: 15px;
}
.item--warning {
  border: 2px solid rgba(255, 196, 9, 0.5);
}
.item--success {
  border: 2px solid rgba(45, 211, 111, 0.5);
}
.item--selectable:hover,
.item--selectable:active {
  cursor: pointer;
  background-color: rgba(152, 154, 162, 0.05);
}
.item--relation {
  margin-left: 50px;
}
.item + .item {
  margin-top: 10px;
}
.item_arrow {
  position: absolute;
  top: -12px;
  left: -50px;
  height: 50px;
  width: 50px;
}
.item_arrow path {
  fill: rgba(34, 36, 40, 0.7);
}
.property-keys {
  margin-top: 8px;
}
.property-key-block {
  padding: 6px 10px;
  border: 2px solid rgba(66, 140, 255, 0.6);
  border-radius: 10px;
}
.property-key-header {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.property-key-block + .property-key-block {
  margin-top: 5px;
}
.property-values {
  margin-left: 20px;
}
.property-value-block {
  display: flex;
  align-items: center;
}
.property-value {
  padding: 3px;
}
